.header {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  width: 980px;
  height: 36px;
  margin-right: auto;
  margin-left: auto;
}