.header {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  width: 980px;
  height: 28px;
  margin-right: auto;
  margin-left: auto;
}

.header-actions {
  margin-top: -3px;
  margin-bottom: -3px;
}

.header-actions .btn {
  margin-left: 5px;
}

.user-nav .link {
  display: block;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.user-nav {
  list-style: none;
}

.user-nav li {
  float: left;
}