body {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
   /* font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti!important;*/
  color: #333;
  background-color: #fff;
  margin: 0;
  height: 100%;
}

* {
   box-sizing: border-box; 
}

div, ul, li, input, h1 {
  padding: 0;
  margin: 0;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

a {
  color: #4078c0;
  text-decoration: none;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

label {
  font-size: 13px;
  font-weight: bold;
}

#main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
    position: relative;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn:hover, .btn:active {
  text-decoration: none;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}

.btn-primary:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: -webkit-linear-gradient(#79d858, #569e3d);
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}

.btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover {
  color: #fefefe;
  background-color: #add39f;
  background-image: -webkit-linear-gradient(#c3ecb4, #add39f);
  background-image: linear-gradient(#c3ecb4, #add39f);
  border-color: #b9dcac #b9dcac #a7c89b;
}

.btn-sm {
  padding: 0px 10px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper:before {
  display: table;
  content: "";
}
.wrapper:after {
  display: table;
  clear: both;
  content: "";
}

.underline {
  border-bottom: 1px solid #eee;
}

.link {
  padding-right: 3px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
  text-decoration: none;
}

.link:hover {
  color: #4078c0;
  text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

.user-img-40 {
  height: 40px;
  width: 40px;
}