.content-container {
    float: left;
    width: 920px;
}

.table-list-header {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
}

.table-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #999;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.table-list-item {
  position: relative;
  list-style: none;
  display: table-row;
  border-bottom: 1px solid #e5e5e5;
}

.table-list-item:hover {
    background-color: #f5f5f5;
}

.table-list-cell {
    position: relative;
    display: table-cell;
    padding: 8px 10px;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}
