<div>
    <div ng-include="'header.html'"></div>
    <div id="main">
        <form accept-charset="UTF-8" action="/api/topic/add">
            <div class="edit-container">
                <div class="topic-area">
                    <input type="text" class="topic-title-input" placeholder="标题" />
                </div>
                <div class="topic-content-container" ng-init="editSelect=true">
                    <div class="topic-tab-area tabnav">
                        <nav class="tabnav-tabs">
                            <a href="#" ng-class="['tabnav-tab', {selected: editSelect}]" ng-click="editSelect=true">编辑</a>
                            <a href="#" ng-class="['tabnav-tab', {selected: !editSelect}]" ng-click="marked()">预览</a>
                        </nav>
                    </div>
                    <div ng-class="['topic-area',{hidden:!editSelect}]">
                        <textarea class="topic-title-input content-textarea" placeholder="内容" ng-model="topic.content"></textarea>
                    </div>
                    <div ng-class="['topic-area',{hidden:editSelect}]">dfdfsfd</div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
